.landing-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .landing-links {
    width: 100%;
    text-align: center;
  }
.img {
    width: 35%;
    height: 35%;
}
.button {
  background-color: transparent;
  text-decoration: none;
  box-sizing: border-box;
  padding: 5px 10px;
  border: none;
  box-shadow: rgb(59, 59, 59) 3px 3px 7px;
  margin-right: 20px;
  outline: none;
  font-size: 20px;
  font-weight: 500;
  &:active {
    transform: translate(1px, 1px);
    box-shadow: rgb(115, 255, 0) 0 0 5px;
  }
}