<div class="landing-block">
    <img src="https://preview.redd.it/is80vvs9uai81.jpg?width=960&crop=smart&auto=webp&s=c9811f7de1ad057f8fb17a41756efef318f7c9e4" alt="Snapface logo" class="img">
    <div class="landing-links">
      <button class="button" (click)="onContinue()">Continuer vers Snapface</button>
    </div>
  </div>