.header {
    font: bold;
    position:relative;
    text-align: center;
    color: bla;
    font-size: 1.2em;
    background-color:rgb(161, 180, 180);
    border:fade-out($color: #ff0000, $amount: 0);
    box-shadow: 5em rgb(0, 191, 255);
    padding:1em;
    margin-bottom: 1em;

}
a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  
  .active {
    color: rgb(27, 23, 23);
    text-decoration: underline;
  }