.truite {
    width: 35%;
    img {
      width: 100%;
    }
  }
  
  .face-snap-card {
    box-sizing: border-box;
    width: 50%;
    margin: 20px auto;
    padding: 10px 30px;
    box-shadow: rgb(54, 8, 218) 4px 4px 20px;
    img {
      width: 100%;
    }
    h2 {
      margin-bottom: 0;
    }
    p {
      font-weight: 300;
      font-size: 16px;
    }
    button {
      background-color: transparent;
      box-sizing: border-box;
      padding: 5px 10px;
      border: none;
      box-shadow: rgb(216, 13, 13) 3px 3px 7px;
      margin-right: 20px;
      outline: none;
      font-size: 14px;
      font-weight: 500;
      &:active {
        transform: translate(1px, 1px);
        box-shadow: rgb(115, 255, 0) 0 0 5px;
      }
    }
  }
  .snapped {
    background-color: rgba(lightgreen, 0.4);
  
    color: darkgreen;
  
    button {
      box-shadow: lightgreen 3px 3px 7px;
  
      color: darkgreen;
  
      &:active {
        box-shadow: lightgreen 0 0 5px;
      }
    }
  }
.button{
    background-color: transparent;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 18px;
    color: rgb(119, 20, 20);
    box-shadow: rgb(114, 114, 114) 3px 3px 7px;
    padding: 2px 20px;


}