<div class="face-snap-card" [ngClass]="{snapped: buttonText === 'STOP'}">
    <h2>{{ biscuit.title | titlecase}}</h2>
    <a routerLink="/facesnaps" class="button">Back</a>
    <p>Mis en ligne le {{ biscuit.createdDate | date:'à HH:mm, le d MMMM yyyy'}}</p>
    <p *ngIf="biscuit.location === 'Paris'">Photo cool de {{biscuit.location}}</p>
    <img [src]="biscuit.imageUrl" [alt]="biscuit.title">
    <p>{{ biscuit.description }}</p>
    <div>
      <p clas="button">
        <button (click)="onSnap()">{{ buttonText }}</button>
        <span [ngStyle]="{color: 'rgb(0,'+ biscuit.snaps*20 +', 0)'}">❤{{ biscuit.snaps }}</span>
      </p>
    </div>
  </div>