<div class="face-snap-card" [ngClass]="{snapped: buttonText === 'STOP'}">
    <h2>{{ biscuit.title | titlecase}}</h2>
    <p>{{ biscuit.description }}</p>
    <button (click)="onviewfacesnap()">View</button>
  </div>